@use 'reset';
@use 'variables' as v;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-size-adjust: 100%;
}

.thasadith-regular {
  font-family: 'Thasadith', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.thasadith-bold {
  font-family: 'Thasadith', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.thasadith-regular-italic {
  font-family: 'Thasadith', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.thasadith-bold-italic {
  font-family: 'Thasadith', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.press-down {
  transition: transform 0.2s;
}

.press-down:active {
  transform: scale(0.95);
}
